mixin card(imgPath, cardClass)
  .card(class= cardClass)
    img(src="./assets/images/" + imgPath, alt="").card__img
    .card__content
      p.txt.txt--center.
        Lorem Ipsum is simply dummy text of the printing and
        typesetting industry. Lorem Ipsum has been the industry 
        standard dummy text ever since the 1500s, when an 
        unknown printer took a galley of type and scrambled it to make. 
        a type specimen book.
      h3.h3.txt--uppercase.card__title Darwin Michle, project manager