.container {
  max-width: 1120px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: -15px;
  justify-content: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 15px;
}

@mixin col-size($width, $gutter: 15px) {
  max-width: $width;
  padding-right: $gutter;
  padding-left: $gutter;
  padding-top: $gutter;
}

@for $i from 1 through $gd-col {
  .col-#{$i} {
    @include col-size($gd-size * $i);
  }
}

@media screen and (min-width: $sm) {
  @for $i from 1 through $gd-col {
    .col-sm-#{$i} {
      @include col-size($gd-size * $i);
    }
  }
}

@media screen and (min-width: $md) {
  @for $i from 1 through $gd-col {
    .col-md-#{$i} {
      @include col-size($gd-size * $i);
    }
  }
}

@media screen and (min-width: $lg) {
  @for $i from 1 through $gd-col {
    .col-lg-#{$i} {
      @include col-size($gd-size * $i);
    }
  }
}
